   
    
    .wrapper {
        background-image: url('images/background.jpg');
        background-size: cover; 
        background-position: center;
        position: relative; 
    }


    .logo {
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .dropdown-item {
        color: white;
    }

    .nav-link {
        color: white !important;
    }

    .title {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    @media screen and (min-width: 1096px) {
        .ecoquest-title {
            font-size: 75px;
        }
    }

    .ecoquest-title {
        color: white;
    
        

    }

    .landing-text {
        margin: 2em 1em; 
    }

    .landing-header {
        text-decoration: underline;
    }

    .landing-page-text {
        margin: 1em;
    }

    .landing-paragraph {
        margin: 1.5em;
    }

    .play-now {
        background-color: blue;
        border-radius: 3px;
        border-style: none;
        color: white;
        padding: 0.15em 1em;
    }

    .footer-container {
        position: relative; 
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #landing-carousel {
        position: relative;
        width: 100%; 
    }

    #landing-carousel .slick-slide {
        display: flex; 
        justify-content: center; 
    }

    #landing-carousel .slick-slide img {
        width: 100%; 
        max-width: 400px; 
        height: auto; 
        border-style: solid;
    }

    .button-container {
        margin-bottom: 5em;
    }

    .sdg-container{
        margin-top:3em;
        margin-left:5em;
    }

    .carousel-slide {
        position: relative; 
    }
    
    .carousel-slide img {
        width: 100%; 
        height: auto; 
    }
    
    .text-overlay {
        position: absolute;
        bottom: 20px; 
        left: 50%; 
        transform: translateX(-50%); 
        color: white;
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 1em 2em; 
        border-radius: 5px; 
        text-align: center; 
        
    }
    .get-informed{
        margin-left:0.75em;
        display:inline-block;
        position:relative;
        margin-top:1em;
    }
    .get-informed::before{
        content: ""; 
        display: inline-block; 
        width: 50px;
        height: 2px; 
        background-color: blue;
        margin-right: 10px; 
        vertical-align: middle; 
    }

    .sdg h3{
        margin-left:2em;
    }
    